# Backend
backend/target/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.idea/

# Mac/Linux
.DS_Store

# Logs
*.log
