<configuration>

    <!-- DEV: читаемая консоль -->
    <springProfile name="!prod">
        <property name="PATTERN" value="%d{HH:mm:ss.SSS} %-5level %cyan([%thread]) %highlight(%-40.40logger{40}) : %msg%n"/>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <!-- Повыше важные пакеты, пониже болтовня -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate.SQL" level="WARN"/>
        <logger name="org.hibernate.type.descriptor.sql" level="WARN"/>
    </springProfile>

    <!-- PROD: структурные JSON-логи -->
    <springProfile name="prod">
        <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/app.json</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/app.%d{yyyy-MM-dd}.json.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/><logLevel/><threadName/><loggerName/><message/><stackTrace/><mdc/><context/><arguments/>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>

</configuration>
